.footer {
  justify-content: space-between;
  min-height: 120px;
}

.info-table-container {
  width: 280px;
  border-radius: 15px;
}

.actions-container {
  width: 50%;
  max-width: 600px;
  align-self: flex-end;
}

.actions-pot-buttons {
  display: flex;
  flex-direction: row;
  text-align: center !important;
}

.actions-slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.actions-slider-text-input {
  text-align: center;
  width: 65px;
}

.actions-slider-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
}

.actions-decisions-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.action-button {
  background-color: #4b63b4 !important;
  color: white !important;
}

.bet-button {
  background-color: #4b63b4 !important;

  color: white !important;
}

@media (max-width: 756px) {
  .info-table-container {
    display: none;
  }

  .actions-container {
    width: 100%;
    max-width: 100%;
  }

  .bet-button {
    flex-grow: 1;
  }
}
