.chips-container {
  display: flex;
  position: absolute;
  width: 100%;
}

.chip {
  position: relative;
  width: 25px;
  margin-left: -24px;
}

@media only screen and (max-width: 990px) {
  .chip {
    width: 18px !important;
    margin-left: -17px !important;
  }
}
