.footer{
    margin:0 1%;
}
.table{
    background-color: #c0765d;
    border-radius: 15px;
}
.raiseBar{
    width:50% !important;
}
.desktop-footer{
    display: flex;
}
.mobile-footer{
    display: none;
}

.container{
    height: 70vh;
}
.img{
    width:auto;
    background-image: url("src/assets/images/poker-table.png");
    background-position-x: center; 
    background-position-y: center; 
    background-repeat: no-repeat;
    background-size: cover;    
    background-size: 80% 80%;
    aspect-ratio: 2 / 1;
}
.img-table{
    object-fit: contain;
}
.margin-top{
    margin: 2% auto;
}