<div class="container text-center margin-top d-grid">
  <div class="img align-self-center d-grid">
      <!-- TOP -->
      <div class="d-flex justify-content-evenly align-self-start" style="height: calc(25px + 8.3vw)">
        <!-- Player  CPU-3--> 
        <div class="col-3 col-sm-3 col-lg-2 row justify-content-center" > 
          <app-player [players]="players" [num]="3" [playerCards]="playerCards"></app-player>
        </div> 
        <!-- Player End -->
        <!-- Player  CPU-4--> 
        <div class="col-3 col-sm-3 col-lg-2 row justify-content-center">
          <app-player [players]="players" [num]="4" [playerCards]="playerCards"></app-player>
        </div>
      </div>
      <div class="d-flex justify-content-evenly align-self-start" style="height: 30px;">
        <!-- Player  CPU-3 CHIPS--> 
        <div class="justify-content-center">
          <app-chips [players]="players" [num]="3" *ngIf="!!players[3]" class="d-flex" ></app-chips>
        </div>  
        <!-- Player End -->
        <!-- Player  CPU-4 CHIPS--> 
        <div class="justify-content-center">
          <app-chips [players]="players" [num]="4" *ngIf="!!players[4]" class="d-flex"></app-chips>
        </div>
      </div>
      <!-- MIDDLE -->
    <div class="d-flex justify-content-evenly align-self-center">
      <!-- Player CPU-2--> 
      <div class="col-3 col-sm-3 col-lg-2 row justify-content-center">  
        <app-player [players]="players" [num]="2" [playerCards]="playerCards"></app-player>
      </div>  
      <!-- Player  CPU-2 CHIPS--> 
      <div class="justify-content-center col-1 d-flex">
       <app-chips [players]="players" [num]="2" *ngIf="!!players[2]" class="d-flex"></app-chips>
      </div>
      <!-- </div> -->
      <!-- Player End -->
      <!-- tableCards -->
        <div class="col-6 d-flex justify-content-center">    
          <div class="col-6 d-flex">
            <img src="{{tableCards[0].img}}" class="img-table" style="width: 33.33333%;" alt="" *ngIf="!!tableCards[0] else noCard">
            <img src="{{tableCards[1].img}}" class="img-table" style="width: 33.33333%;"alt="" *ngIf="!!tableCards[1] else noCard">
            <img src="{{tableCards[2].img}}" class="img-table" style="width: 33.33333%;" alt="" *ngIf="!!tableCards[2] else noCard">
          </div>
          <div class="col-2 justify-content-center d-flex">
            <img src="{{tableCards[3].img}}"  class="img-table" style="width: 100%;" alt="" *ngIf="!!tableCards[3] else noCardBig">
          </div>
          <div class="col-2 justify-content-start d-flex">
            <img src="{{tableCards[4].img}}" class="img-table" style="width: 100%;" alt="" *ngIf="!!tableCards[4] else noCardBig">
          </div>
        </div>
        <ng-template #noCard>
          <img src="assets/images/secret-card.png" class="img-table" style="width: 100%;" alt="">
        </ng-template>
        <ng-template #noCardBig>
          <img src="assets/images/secret-card.png" class="img-table" style="width: 100%;" alt="">
        </ng-template>
        <!-- tableCards End-->
            <!-- Player  CPU-5 CHIPS--> 
        <div class="justify-content-center col-1 d-flex">
          <app-chips [players]="players" [num]="5" *ngIf="!!players[5]" class="d-flex"></app-chips>
        </div>  
        <!-- </div> -->
        <!-- Player End -->
      <!-- Player CPU-5-->   
    <div class="col-3 col-sm-3 col-lg-2 row justify-content-center">
      <app-player [players]="players" [num]="5" [playerCards]="playerCards"></app-player>  
    </div>
    <!-- Player End CPU-5 -->
    </div>  
    <!-- BOTTOM -->
    <div class="d-flex justify-content-evenly align-self-start" style="height: 30px;">
      <!-- Player  CPU-1 CHIPS--> 
      <div class="justify-content-center">
        <app-chips [players]="players" [num]="1" *ngIf="!!players[1]" class="d-flex"></app-chips>
      </div>  
      <!-- Player End -->
      <!-- Player  ME CHIPS--> 
      <div class="justify-content-center">
        <app-chips [players]="players" [num]="0" *ngIf="!!players[0]" class="d-flex"></app-chips>
      </div>
    </div>
    <div class="row justify-content-center justify-content-evenly align-self-end mb-1" style="height: calc(25px + 8.3vw)">   
      <!-- Player CPU-1-->
      <div class="col-3 col-sm-3 col-lg-2 row justify-content-center">
        <app-player [players]="players" [num]="1" [playerCards]="playerCards"></app-player>
      </div>
      <!-- Player End CPU-1 -->
      <!-- Player ME-->   
      <div class="col-3 col-sm-3 col-lg-2 row justify-content-center">  
        <app-player [players]="players" [num]="0" [playerCards]="playerCards"></app-player>
      </div>
      <!-- Player End ME -->
    </div>  
  </div>  
</div>
<div class="footer d-flex">  
    <div class="col-6  d-none d-md-block d-flex align-self-end ">
        <div class="col-6">
          <table class="table mb-0">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{playersPortionBetting}}</th>
                <td>playersPortionBetting</td>
              </tr>
              <tr>
                <th scope="row">{{pot}}</th>
                <td><h6>POT</h6></td>
              </tr>
              <tr>
                <th scope="row">{{onOverallChips()}}</th>
                <td colspan="2">onOverallChips</td>
              </tr>
            </tbody>
          </table>         
        </div>
    </div>
     <div class="col-12 col-md-6 align-self-end" *ngIf="players[0].isActivePlayer">
        <div class="row w-100 justify-content-end d-flex">
          <div class="text-center col-12 col-md-8 ">
            <div class="row  g-2">
              <div class="col-3">
                  <button class="btn btn-success p-2 w-100" type="button" ><h6>Min</h6></button>
              </div>
              <div class="col-3">
                  <button class="btn btn-success p-2 w-100" type="button" ><h6>3Bet</h6></button>
              </div>
              <div class="col-3">
                  <button class="btn btn-success p-2 w-100" type="button" ><h6>Pot</h6></button>
              </div>
              <div class="col-3">
                  <button class="btn btn-success p-2 w-100" type="button" ><h6>Max</h6></button>
              </div>
            </div>
          </div>
        </div>
        <div class="row w-100 d-flex justify-content-end mb-3 mt-2">
          <input class="col-3 col-md-2 col-xxl-1" [(ngModel)]="onRaiseNum">
          <div class="col-9 col-md-8">
            <input type="range" class="form-range" min="{{bigBlind+playersPortionBetting}}" max="{{players[0].chips}}" [(ngModel)]="onRaiseNum" step="20" #ref id="customRange3">
          </div>
        </div>
    <div class="row w-100 justify-content-end d-flex align-items-end">
        <div class="text-center col-12 ">
            <div class="row g-2">
                <div class="col">
                    <button class="btn btn-success btn-lg  p-2 col-12" type="button" (click)="onFold()"><h2>Fold</h2></button>
                </div>
                <div class="col">
                    <button class="btn btn-success btn-lg p-2 col-12" type="button" (click)="onCall()"><h2>Call</h2></button>
                </div>
                <div class="col">
                    <button class="btn btn-success btn-lg p-2 col-12" type="button" (click)="onRaise(ref.value)" *ngIf="onHasChips()" ><h2>Raise{{ref.value}}</h2></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


 
 
 
