<div class="page-wrapper items-center justify-center">
 
  <form class="form-content gap-y-4" [formGroup]="signupForm">
    <h2 class="form-title">Select game options</h2>
    <div class="form-control-container">
      <label class="form-label m-auto"><h3>Players :</h3></label>
      <mat-slider
        class="grow"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="true"
        [showTickMarks]="true"
      >
        <input
          matSliderThumb
          formControlName="numberOfPlayers"
          [value]="signupForm.value.numberOfPlayers"
        />
      </mat-slider>
      <input
        class="form-control-number-input"
        [max]="max"
        [min]="min"
        matInput
        formControlName="numberOfPlayers"
        [value]="signupForm.value.numberOfPlayers"
        type="number"
      />
    </div>

    <div class="form-control-container">
      <label class="form-label m-auto"><h3>Stake :</h3></label>
      <mat-slider
        class="grow"
        [max]="200"
        [min]="20"
        [step]="20"
        [discrete]="true"
        [showTickMarks]="true"
      >
        <input
          matSliderThumb
          formControlName="stake"
          [value]="signupForm.value.stake"
        />
      </mat-slider>
      <input
        matInput
        class= "form-control-number-input"
        [max]="200"
        [min]="20"
        formControlName="stake"
        [value]="signupForm.value.stake"
        type="number"
      />
    </div>

    <div class="form-control-container">
      <label class="form-label m-auto"><h3>Chips :</h3></label>
      <mat-slider
        class="grow"
        [max]="10000"
        [min]="1000"
        [step]="1000"
        [discrete]="true"
        [showTickMarks]="true"
      >
        <input
          matSliderThumb
          formControlName="chips"
          [value]="signupForm.value.chips"
        />
      </mat-slider>
      <input
        matInput
        class= "form-control-number-input"
        [max]="10000"
        [min]="1000"
        formControlName="chips"
        [value]="signupForm.value.chips"
        type="number"
      />
    </div>

    <div class="form-control-container">
      <label class="form-label m-auto"><h3>Time (sec) :</h3></label>
      <mat-slider
        class="grow"
        [max]="60"
        [min]="10"
        [step]="5"
        [discrete]="true"
        [showTickMarks]="true"
      >
        <input
          matSliderThumb
          formControlName="time"
          [value]="signupForm.value.time"
        />
      </mat-slider>
      <input
        matInput
        class= "form-control-number-input"
        [max]="60"
        [min]="10"
        formControlName="time"
        [value]="signupForm.value.time"
        type="number"
      />
    </div>


    <button type="button" mat-flat-button color="primary" (click)="onStartGame()">Start</button>
  </form>
</div>
