<div
  class="player-wrapper justify-center items-center relative"
  *ngIf="player?.cards?.length || player?.chips"
>
  <div
    class="cards-container"
    *ngIf="player?.cards"
    [class.fold]="player.cards.length === 0"
  >
    <img
      [src]="player.cards.length > 0 ? player.cards[0].img : secretCard"
      class="left-card"
    />
    <img
      [src]="player.cards.length > 0 ? player.cards[1].img : secretCard"
      class="right-card"
    />
  </div>
  <div
    [class.active]="(activePlayer$ | async)?.id === player.id"
    class="card-body"
  >
    <div class="dealer" *ngIf="player.id === (dealer$ | async)?.id">
      <img src="assets/images/dealer.png" />
    </div>
    <div class="flex flex-col justify-center w-full h-full">
      <h6 class="card-title d-flex justify-content-center">
        {{ player.name }}
      </h6>
      <h6 class="card-text">{{ player.chips }}</h6>
    </div>
  </div>
  <app-bet-chips [player]="player"></app-bet-chips>
</div>
