<div class="chips-container">
  <img
    src="assets/images/chip500.png"
    class="d-flex align-self-start"
    style="
      position: relative;
      width: calc(10px + 0.75vw);
      margin-left: calc(-9px - 0.75vw);
    "
    alt="..."
    *ngFor="
      let item of [].constructor(this.calculateChips(num).chip500);
      let i = index
    "
  />
  <img
    src="assets/images/chip100.png"
    class="d-flex align-self-start"
    style="
      position: relative;
      width: calc(10px + 0.75vw);
      margin-left: calc(-9px - 0.75vw);
    "
    alt="..."
    *ngFor="
      let item of [].constructor(this.calculateChips(num).chip100);
      let i = index
    "
  />
  <img
    src="assets/images/chip10.png"
    class="d-flex align-self-start"
    style="
      position: relative;
      width: calc(10px + 0.75vw);
      margin-left: calc(-9px - 0.75vw);
    " 
    *ngFor="
      let item of [].constructor(this.calculateChips(num).chip10);
      let i = index
    "
  />
</div>
