.active{
    border: #c0765d solid 3px;
}
.dealer{
    position: relative;
    width: calc(10px + 1vw);
    bottom: -2vw;
    left: -40px;
}
.card-body{
    border-radius: 15px;
    color:#e4dabb;
    background-color: #3f473a;
    margin-top: calc(-30px - 2vw);
    height: calc(30px + 2vw);
}
.fold{
    opacity: 0.3;
}
@media only screen and (max-width: 990px) {
    .card-small{ 
    width: 25%;
    }
}
@media only screen and (max-width: 770px) {
    .card-small{ 
        width: 33.33%;
    }
}